table.object {
  border: 1px solid #c0c0c0;
}

table.object th {
  text-align: right;
  color: #606060;
}

table.object td, table.object th {
  padding: 0.3em 0.3em;
}

ol.page > li {
  margin-bottom: 0.5em;
}

div.html {
  background-color: #f0f0f0;
  padding: 0.2em 0.5em;
  margin: 0;
  border: 1px solid #c0c0c0;
}

table.object th.entityhead {
  border-bottom: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  color: black;
  padding-right: 0.5em;
}

a {
  color: #0000ff;
}
