/* Global *******************************************************************/

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Segoe UI","Lucida Grande","Lucida Sans Unicode",sans-serif;
}

a {
  /*color: #1364c4;*/
  color: #0058d8;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

code, pre {
  font-family: Consolas,monospace;
}

/* Header *******************************************************************/

#header {
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  background-color: #303030;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #505050), color-stop(1, #303030));
  background-image: -moz-linear-gradient(center bottom, #505050 0%, #303030 100%);
  color: white;
  height: 28px;
  z-index: 100;
  white-space: nowrap;
}

#header a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

#header a:active, #header a:hover {
  text-decoration: underline;
  text-shadow: #e0e0e0 0px 0px 10px;
}

#leftTitle {
  padding: 3px 12px 3px 6px;
  border-right: 1px solid black;
  width: 1px;
  border-bottom: 1px solid black;
}

#mainTitle {
  font-weight: bold;
  padding: 3px 12px 3px 12px;
  border-left: 1px solid #606060;
  border-bottom: 1px solid black;
}

#mainTitle div {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  color: black;
  background-color: #e8e8e8;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d0d0d0), color-stop(1, #f0f0f0));
  background-image: -moz-linear-gradient(center bottom, #d0d0d0 0%, #f0f0f0 100%);
  float: left;
  margin-top: 4px;
  margin-right: 8px;
}

#tabs {
  padding: 6px 0 0 0;
  width: 1px;
  border: 0;
}

#tabs table {
  height: 22px;
}

#tabs td.tab {
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
  border-right: 1px solid #808080;
  border-bottom: 1px solid black;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}

#tabs td.tab a, #tabs td.tab span {
  padding: 0 12px;
  color: inherit;
  text-decoration: none;
  display: block;
  height: 100%;
  line-height: 18px;
}

#tabs td.tab span {
  display: none;
}

#tabs td.tab a:hover, #tabs td.tab a:active {
  text-decoration: underline
}

#tabs td.selected {
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #e8e8e8;
  color: black;
  background: #e8e8e8;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e8e8e8), color-stop(1, #ffffff));
  background-image: -moz-linear-gradient(center bottom, #e8e8e8 0%, #ffffff 100%);
}

#tabs td.selected a {
  display: none;
}

#tabs td.selected span {
  display: block;
}

#tabs td.filler {
  min-width: 6px;
  border-bottom: 1px solid black;
}

#loader {
  padding: 0;
  margin: 0;
  width: 40px;
  border-bottom: 1px solid black;
}

#loader img {
  display: block;
  padding: 0;
  padding-top: 2px;
  padding-left: 12px;
  margin: 0;
  width: 16px;
  height: 16px;
}

/* Sidebar with Navigation Area *********************************************/

#sidebar {
  position: absolute;
  top: 28px;
  left: 0;
  bottom: 0;
  width: 300px;
  background: white;
  overflow: auto;
}

#search_area {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#search_area table {
  border: 1px solid #b0b0b0;
  width: 100%;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

#search_area table.active {
  border-color: #5096ff;
  box-shadow: 0 0 3px #5096ff;
  -moz-box-shadow: 0 0 3px #5096ff;
  -webkit-box-shadow: 0 0 3px #5096ff;
}

#search_area table td > * { display: block; }

#search_area img {
  padding-left: 5px;
  opacity: 0.6;
}

#search_area table.active img { opacity: 1; }

#search_area span {
  margin-right: 4px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: white;
  font-weight: bold;
  background-color: #b0b0b0;
}

#search_area table.active span { background-color: #c08080; }

#search_area span:hover, #search_area span:active { background-color: #c05050 !important; }

#search {
  margin: 0;
  width: 100%;
  line-height: 14px;
  height: 22px;
  border: 0;
  padding: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#search:focus {
  outline: none;
}

#navigation ul.packages {
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: 1px solid #c0c0c0;
  background-color: #fafafa;
}

#navigation ul.packages > li {
  display: block;
}

#navigation ul.packages > li > span {
  display: block;
  padding: 1px 1px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fafafa), color-stop(1, #f0f0f0));
  background-image: -moz-linear-gradient(center bottom, #fafafa 0%, #f0f0f0 100%);
  border-top: 1px solid #cdcdcd;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}

#navigation ul.packages > li > span > a {
  display: block;
  padding: 2px 4px;
  text-decoration: none;
  color: black;
}

#navigation ul.packages > li > span > a:active, #navigation ul.packages > li > span > a:hover {
  text-decoration: underline;
}

#navigation ul.packages > li.expanded > span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  border-top: 1px solid #4e617f;
  border-bottom: 1px solid #4e617f;
  border-left: 1px solid #4e617f;
  border-right: 1px solid #4e617f;
  background-color: #4e617f;
  background-image: -webkit-gradient(linear, left bottom, left top,
    color-stop(0, #33435c),
    color-stop(0.49, #31415a),
    color-stop(0.5, #485b79),
    color-stop(0.8, #71849f),
    color-stop(1, #687b98)
  );
  background-image: -moz-linear-gradient(center bottom,
    #33435c 0%,
    #31415a 49%,
    #485b79 50%,
    #71849f 80%,
    #687b98 100%
  );
  font-weight: bold;
}

#navigation ul.packages > li.expanded > span > a {
  color: white;
}

#navigation ul.packages > li > table {
  background-color: white;
  display: block;
  padding: 6px 0;
  margin: 0;
}

#navigation ul.packages > li > table tr.package td {
  font-style: italic;
}

#navigation ul.packages > li > table th, #navigation ul.packages > li > table td {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-color: transparent;
  vertical-align: middle;
}

#navigation ul.packages > li > table th {
  padding-top: 1px;
  padding-left: 6px;
}

#navigation ul.packages > li > table th div {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  font-weight: bold;
  color: white;
  background-color: #606060;
}

#navigation ul.packages > li > table th.class div {
  background-color: #24763e;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #04561e), color-stop(1, #84c69e));
  background-image: -moz-linear-gradient(center bottom, #04561e 0%, #84c69e 100%);
}

#navigation ul.packages > li > table th.object div {
  background-color: #932222;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #730202), color-stop(1, #e37272));
  background-image: -moz-linear-gradient(center bottom, #730202 0%, #e37272 100%);
}

#navigation ul.packages > li > table th.trait div {
  background-color: #5564a9;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #354489), color-stop(1, #95a4e9));
  background-image: -moz-linear-gradient(center bottom, #354489 0%, #95a4e9 100%);
}

#navigation ul.packages > li > table th.package div {
  background-color: #bb712a;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bb712a), color-stop(1, #fbb16a));
  background-image: -moz-linear-gradient(center bottom, #bb712a 0%, #fbb16a 100%);
}

#navigation ul.packages > li > table td {
  padding: 0 2px;
  width: 100%;
}

#navigation ul.packages > li > table tr.selected th, #navigation ul.packages > li > table tr.selected td {
  background-color: #e2e8ed;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d2d8dd), color-stop(1, #ebf1f5));
  background-image: -moz-linear-gradient(center bottom, #e2e8ed 0%, #ebf1f5 100%);
  border-color: #e2e8ed;
}

#navigation ul.packages > li > table td > a {
  padding-left: 0.5em;
  color: inherit;
  text-decoration: none;
  display: block;
}

#navigation ul.packages > li > table td > a:active, #navigation ul.packages > li > table td > a:hover {
  text-decoration: underline;
}

#navfooter {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  text-align: center;
  background: white;
  color: #505050;
  font-style: italic;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(0.92, #ffffff), color-stop(1, #f0f0f0));
  background-image: -moz-linear-gradient(center bottom, #ffffff 0%, #ffffff 92%, #f0f0f0 100%);
  /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ededed), color-stop(0.3, #fcfcfc), color-stop(1, #ffffff));
  background-image: -moz-linear-gradient(center bottom, #ededed 0%, #fcfcfc 30%, #ffffff 100%);*/
}

#navfooter > div {
  padding: 12px 6px;
}

/*#navfooter a {
  color: #3030ff;
}*/

/* Separator ****************************************************************/

#separator {
  position: absolute;
  top: 28px;
  left: 300px;
  bottom: 0;
  width: 6px;
  background: transparent;
  z-index: 1;
  cursor: e-resize;
  border-left: 1px solid #a0a0a0;
}

#separator div {
  cursor: pointer;
  background: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f0f0f0), color-stop(1, #ffffff));
  background-image: -moz-linear-gradient(left center, #f0f0f0 0%, #ffffff 100%);
  position: absolute;
  left: -1px;
  width: 100%;
  top: 47%;
  bottom: 47%;
  border-left: 1px solid #a0a0a0;
  border-top: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 2px 1px 3px #d0d0d0;
  -moz-box-shadow: 2px 1px 3px #d0d0d0;
  -webkit-box-shadow: 2px 1px 3px #d0d0d0;
}

#separator div:active, #separator div:hover {
  background: #c0daff;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #b0c8ff), color-stop(1, #c0daff));
  background-image: -moz-linear-gradient(left center, #b0c8ff 0%, #c0daff 100%);
  border-top-color: #6098ff;
  border-right-color: #6098ff;
  border-bottom-color: #6098ff;
}

/* Content Area *************************************************************/

#content {
  position: absolute;
  margin: 0;
  top: 28px;
  left: 301px;
  bottom: 0;
  right: 0;
}

#content > div {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  visibility: hidden;
}

#content_msg {
  padding: 24px;
  text-align: center;
  font-style: italic;
}

#content noscript div {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 24px;
  padding: 24px 48px;
  text-align: center;
  background-color: #fff8c0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fffcf0), color-stop(1, #fff8c0));
  background-image: -moz-linear-gradient(center top, #fffcf0 0%, #fff8c0 100%);
  border: 1px solid #c0b000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 2px 2px 3px #e0e0e0;
  -moz-box-shadow: 2px 2px 3px #e0e0e0;
  -webkit-box-shadow: 2px 2px 3px #e0e0e0;
}

/* Content Area: Page Tab ***************************************************/

#pgtitle {
  margin: 0;
  padding: 12px 18px 12px 54px;
  text-indent: -36px;
  font-size: 1.5em;
  font-weight: bold;
  background: #e8e8e8;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f8f8f8), color-stop(1, #e8e8e8));
  /*color: #3f529c;*/
  color: #2d465d;
  /*color: #152534;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,1)));
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f8f8f8), color-stop(1, #d0d0d0));*/
  background-image: -moz-linear-gradient(center bottom, #f8f8f8 0%, #e8e8e8 100%);
  border-bottom: 1px solid #c0c0c0;
  /*text-shadow: #ffffff 1px 1px 2px;*/
}

#pgtitle .etitle { color: #c04040; }

#pgtitle .extends { color: #8080a0; }

#pgtitle .companion_switch {
  float: right;
  padding-left: 48px;
}

#pgtitle .switch {
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  border: 1px solid #9cadc0;
  background: #cad3da;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b8c2ca), color-stop(0.95, #edf4fb), color-stop(1, #f1f9ff));
  background-image: -moz-linear-gradient(center bottom, #b8c2ca 0%, #edf4fb 95%, #f1f9ff 100%);
  color: #42505c;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 1px 0;
}

#pgtitle .switch > * {
  padding: 1px 12px;
  cursor: pointer;
}

#pgtitle .switch > .left {
  border-right: 1px solid #9cadc0;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}

#pgtitle .switch > .right {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
}

#pgtitle .switch > *:hover {
  color: black;
  background: #dae3ea;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c8d2da), color-stop(0.95, #fdffff), color-stop(1, #ffffff));
  background-image: -moz-linear-gradient(center bottom, #c8d2da 0%, #fdffff 95%, #ffffff 100%);
}

#pgtitle .switch > .selected {
  color: black;
  background: #edf1f5;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #edf1f5), color-stop(0.95, #ccd2d7), color-stop(1, #b8bdc1));
  background-image: -moz-linear-gradient(center bottom, #edf1f5 0%, #ccd2d7 95%, #b8bdc1 100%);
  cursor: default;
}

#pgbody {
  margin: 12px 18px;
}

#page .deftable {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#page .deftable th {
  width: 100px;
  vertical-align: top;
  text-align: right;
  color: #606060;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f6f6), color-stop(1, #fdfdfd));
  background-image: -moz-linear-gradient(center top, #f6f6f6 0%, #fdfdfd 100%);
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  border: 1px solid white;
}

#page .deftable td, .deftable th {
  padding: 4px 8px;
}

#pgbody > .deftable {
  padding-left: 1px;
  margin: 1em 0;
}

#pgbody > .deftable.params th, #pgbody > .deftable.params td {
  padding: 4px 8px;
}

#page .deftable.params tr.t th {
  background-color: #f2f5f9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eaeef4), color-stop(1, #f5f8fc));
  background-image: -moz-linear-gradient(center top, #eaeef2 0%, #f5f8fc 100%);
}

#page .deftable.params tr.v th {
  background-color: #f2f9f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eaf4ee), color-stop(1, #f5fcf8));
  background-image: -moz-linear-gradient(center top, #eaf2ee 0%, #f5fcf8 100%);
}

#page pre {
  background-color: #f1f9ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafcff), color-stop(1, #f1f9ff));
  background-image: -moz-linear-gradient(center top, #fafcff 0%, #f1f9ff 100%);
  border: 1px solid #d1d9df;
  padding: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#page .section .sectionhd span {
  width: 24px;
  color: #c0c0c0;
  float: left;
  text-align: left;
}

#page .section .sectionhd:hover span {
  text-shadow: #d0d0d0 2px 2px 2px;
  color: #606060;
}

#page .sectionhd span.visible { display: none; }
#page .sectionhd span.hidden { display: inline-block; }
#page .section.visible .sectionhd span.visible { display: inline-block; }
#page .section.visible .sectionhd span.hidden { display: none; }
#page .section.visible .sectionbody { display: block; }
#page .sectionbody { display: none; }

#page > .section {
  margin: 30px 0 30px 0;
}

#page > .section .sectionhd {
  padding: 6px 18px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #f0f0f0));
  background-image: -moz-linear-gradient(center top, #ffffff 0%, #f0f0f0 100%);
  color: #606060;
  font-weight: bold;
  cursor: pointer;
}

#pgbody > .section {
  margin: 18px 0;
  border: 1px solid #c0c0c0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 2px 2px 3px #e0e0e0;
  -moz-box-shadow: 2px 2px 3px #e0e0e0;
  -webkit-box-shadow: 2px 2px 3px #e0e0e0;
}

#pgbody > .section .sectionhd {
  padding: 4px 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #f0f0f0));
  background-image: -moz-linear-gradient(center top, #ffffff 0%, #f0f0f0 100%);
  color: #606060;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
}

#pgbody > .section.visible .sectionhd {
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: 1px solid #c0c0c0;
}

#page .diagram .loading {
  text-align: center;
  padding: 18px;
  color: #e0e0e0;
}

#page .diagram .sectionbody {
  border: 1px solid #303030;
  background-color: #303030;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #404040), color-stop(1, #202020));
  background-image: -moz-linear-gradient(center top, #404040 0%, #202020 100%);
  overflow: hidden;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
}

#page .diagrambody {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  display: block;
  color: white;
  margin: auto;
}

#page .diagrambody .node, .jit-autoadjust-label {
  padding: 3px 6px;
  cursor: pointer;
  text-align: center;
}

#page .diagramdoc {
  font-weight: bold;
  font-size: 1.2em;
  z-index: 100;
  position: absolute;
  cursor: default;
  bottom: 6px;
  left: 10px;
  color: #ffffa0;
}

#page .defs .sectionbody {
  margin-top: 12px;
}

#page .defs .sectionbody > div {
  padding: 0 12px;
  margin: 0 6px;
  border-top: 1px solid #e0e0e0;
}

#page .defs .sectionbody > div.first {
  border-top: 0px;
}

#page .memberhd {
  width: 100%;
  padding-top: 6px;
  cursor: pointer;
}

#page .memberhd h4 {
  color: #2d465d;
  margin: 0;
  padding-bottom: 2px;
  padding-left: 36px;
  text-indent: -36px;
}

#page .memberhd .short {
  margin: 0 0 0 18px;
  padding-bottom: 6px;
  color: #505050;
}

#page .long {
  margin: 0;
  padding-bottom: 6px;
  padding-top: 6px;
}

#page .long p {
  margin: 6px 0;
}

#page .long .deftable {
  margin: 12px 0 6px 0;
}

#page .long .deftable > tr > th, #page .long .deftable > tr > td {
  padding: 3px 8px;
}

#page .memberhd h4 .visible, #page .memberhd h4 .hidden {
  width: 18px;
  color: #c0c0c0;
  float: left;
  font-size: 12px;
  padding-top: 2px;
}

#page .memberhd:hover h4 .visible, #page .memberhd:hover h4 .hidden {
  text-shadow: #d0d0d0 2px 2px 2px;
  color: #606060;
}

#page .defs .sectionbody > div h4 .visible { display: none; }
#page .defs .sectionbody > div h4 .hidden { display: inline-block; }
#page .defs .sectionbody > div.expanded h4 .visible { display: inline-block; }
#page .defs .sectionbody > div.expanded h4 .hidden { display: none; }

#page .defs .sectionbody > div .short { display: block; }
#page .defs .sectionbody > div .long { display: none; }
#page .defs .sectionbody > div.expanded .short { display: none; }
#page .defs .sectionbody > div.expanded .long { display: block; }

#page .defs .sectionbody > div h4 .etitle {
  color: #c04040;
}

#page .defs .sectionbody > div h4 .flags {
  color: #8080a0;
}

/* Content Area: Model Tab **************************************************/

#content_model > div {
  padding-bottom: 1px; // Force IE to use margin for ol.page
}

#content_model > div > h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 6px 24px;
  text-align: right;
  background: #e8e8e8;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f8f8f8), color-stop(1, #e8e8e8));
  background-image: -moz-linear-gradient(center bottom, #f8f8f8 0%, #e8e8e8 100%);
  border-bottom: 1px solid #c0c0c0;
}

#content_model table.object {
  border: 1px solid #c0c0c0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 2px 2px 3px #e0e0e0;
  -moz-box-shadow: 2px 2px 3px #e0e0e0;
  -webkit-box-shadow: 2px 2px 3px #e0e0e0;
  margin: 18px;
}

#content_model table.object th {
  text-align: right;
  color: #606060;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f6f6), color-stop(1, #fdfdfd));
  background-image: -moz-linear-gradient(center top, #f6f6f6 0%, #fdfdfd 100%);
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

#content_model table.object td, table.object th {
  padding: 6px 8px;
}

#content_model div.html {
  background-color: #f1f9ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafcff), color-stop(1, #f1f9ff));
  background-image: -moz-linear-gradient(center top, #fafcff 0%, #f1f9ff 100%);
  padding: 0.2em 0.5em;
  margin: 0;
  border: 1px solid #d1d9df;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#content_model ol.array > li > div.html {
  margin: 0.5em 0;
}

#content_model table.object th.entityhead {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid #c0c0c0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #f0f0f0));
  background-image: -moz-linear-gradient(center top, #ffffff 0%, #f0f0f0 100%);
  color: #606060;
}

#content_model table.object th.entityhead > span {
  float: left;
  padding-right: 24px;
  color: #000000;
}

#content_model table.object th.entityhead > span > span {
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e8e8e8));
  background-image: -moz-linear-gradient(center top, #ffffff 0%, #e8e8e8 100%);
  border: 1px solid #c0c0c0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 0 6px;
  margin-right: 12px;
  font-size: 12px;
}

#content_model span.entityno {
  color: #b0b0b0;
  padding-left: 0.5em;
}

/* Content Area: Source Tab *************************************************/

#content_source {
}

#content_source #nosource {
  padding: 24px 48px;
  text-align: center;
  background-color: #fff8c0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fffcf0), color-stop(1, #fff8c0));
  background-image: -moz-linear-gradient(center top, #fffcf0 0%, #fff8c0 100%);
  border: 1px solid #c0b000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 48px;
  box-shadow: 2px 2px 3px #e0e0e0;
  -moz-box-shadow: 2px 2px 3px #e0e0e0;
  -webkit-box-shadow: 2px 2px 3px #e0e0e0;
}

#content_source .browser {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#content_source .browser > .head {
  position: absolute;
  top: 0;
  height: 39px;
  left: 0;
  right: 0;
  width: 100%;
  background: #e8e8e8;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f8f8f8), color-stop(1, #e8e8e8));
  background-image: -moz-linear-gradient(center bottom, #f8f8f8 0%, #e8e8e8 100%);
  border-bottom: 1px solid #c0c0c0;
  overflow: hidden;
  white-space: nowrap;
  padding: 2px 15px 0px 9px;
}

#content_source .browser > .head td {
  vertical-align: middle;
}

#content_source .browser > .head th {
  vertical-align: middle;
  font-weight: normal;
  padding-right: 6px;
}

#content_source .browser > .head input {
  width: 100%;
  border: 1px solid #c0c0c0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
  background: white;
  color: #606060;
}

#content_source .browser > .body {
  position: absolute;
  top: 39px;
  bottom: 0;
  left: 0;
  right: 0;
}

#content_source .browser > .body  iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Search Help Overlay ******************************************************/

#search_help {
  position: absolute;
  left: 273px;
  right: 20px;
  top: 35px;
  z-index: 1;
  display: none;
}

#search_help > img {
  position: absolute;
  left: 0;
  top: 8px;
  z-index: 2;
}

#search_help > div {
  position: absolute;
  left: 9px;
  right: 0;
  top: 0;
  padding: 15px 15px 10px 10px;
  border: 1px solid #606060;
  background-color: #fffff0;
  z-index: 1;
  box-shadow: 2px 2px 5px #a0a0a0;
  -moz-box-shadow: 2px 2px 5px #a0a0a0;
  -webkit-box-shadow: 2px 2px 5px #a0a0a0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  min-width: 200px;
  max-width: 400px;
}

#search_help ul {
  padding-left: 20px;
  font-size: 12px;
}

#search_help pre {
  display: block;
  margin: 8px 0 10px 0;
  border: 1px solid #d0d0c0;
  padding: 6px 12px;
  background-color: white;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  font: inherit;
  font-weight: bold;
  color: #404040;
  height: 12px;
  line-height: 12px;
}

#search_help h3 {
  font-size: 1em;
  margin: 0 0 0 20px;
  padding: 0 0 2px 0;
  border-bottom: 1px solid #c09000;
  font-weight: bold;
  color: #404040;
}

#search_help h3 span {
  float: right;
  font-weight: normal;
  font-size: 12px;
  margin-left: 8px;
}
